
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
cypress.env.json
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/logs/
.cypress-cache/

chromedriver*
geckodriver*
edgedriver*

*.log

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

*.tmp
*.temp

reports/
coverage/